{% if use_toml_cfg_mgr -%}
from enum import StrEnum
{% endif -%}
from pathlib import Path
{% if use_toml_cfg_mgr -%}
from types import MappingProxyType
{% endif -%}
from typing import Final

BASE_DIR_PATH: Final[Path] = Path(__file__).resolve().parent.parent.parent.parent
{% if use_toml_cfg_mgr -%}
CONFIG_PATH: Final[Path] = BASE_DIR_PATH / "config"


class ValidEnvs(StrEnum):
    """
    Values should reflect actual directory names.
    """

    LOCAL = "local"
    DEV = "dev"
    PROD = "prod"


ENV_TO_DIR_PATHS: Final[MappingProxyType[ValidEnvs, Path]] = MappingProxyType({
    ValidEnvs.LOCAL: CONFIG_PATH / ValidEnvs.LOCAL,
    ValidEnvs.DEV: CONFIG_PATH / ValidEnvs.DEV,
    ValidEnvs.PROD: CONFIG_PATH / ValidEnvs.PROD,
})


class DirContents(StrEnum):
    """
    Values should reflect actual file names.
    """

    CONFIG_NAME = "config.toml"
    SECRETS_NAME = ".secrets.toml"
    EXPORT_NAME = "export.toml"
    DOTENV_NAME = ".env"


ENV_VAR_NAME: Final[str] = "APP_ENV"
{% endif %}
